python-dotenv
Pyrogram
asyncio
TgCrypto
firebase_admin
PyYAML
motor
psutil
aiofiles
Pillow
requests
ujson
aiohttp
beautifulsoup4
wget
cowpy
selenium
httplib2
oauth2client
google-api-python-client
stagger
hachoir
rarfile
pySmartDL
feedparser
python-dateutil
spamwatch
pymongo
urbandict
pybase64
covid
pytz
removebg
telegraph
googletrans
wikipedia